@import "tailwindcss";

@theme {
  --color-hover-light: #fcf4ff;
  --color-hover-dark: #2a004a;
  --color-theme-dark: #11001f;

  --font-outfit: Outfit, "sans-serif";
  --font-josefin: "Josefin Sans", sans-serif;
}

body {
  font-family: Outfit, "sans-serif";
}
